/* Particle effect*/

#particles-js {
	position: relative;
	height: 100%;
	width: 100%;
}
.section {
	justify-content: center;
	align-items: center;
}

.text span{
	font-weight: bold;
}

.text {
	font-size: 40px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.animated-text span {
	display: none;
	line-height: 1;
}
.animated-text span.active {
	display: inline-block;
}
.animated-text:after {
	content: 'i';
	display: inline-block;
	width: 2px;
	text-indent: -100px;
	overflow: hidden;
	background: #aaa;
	animation: blink 0.3s infinite alternate;
}
@keyframes blink {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/*Social icons*/

:root {
	--link-size: 64px;
	--trans-props: all 0.3s ease;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: row wrap;
}

.social-icon {
	display: flex;
	position: relative;
	overflow: hidden;
	width: var(--link-size);
	height: var(--link-size);
	margin: 8px;
	background-color: white;
	border-radius: 50%;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.18);
	text-decoration: none;
	transition: var(--trans-props);
}

.social-icon i {
	margin: auto;
	font-size: 24px;
	color: #000;
	z-index: 1;
	transition: var(--trans-props);
}

.social-icon:after {
	content: "";
	width: var(--link-size);
	height: var(--link-size);
	position: absolute;
	transform: translate(0, var(--link-size));
	border-radius: 50%;
	transition: var(--trans-props);
}

.social-icon.twitter:after {
	background-color: #1da1f2;
}

.social-icon.github:after {
	background-color: #24292e;
}

.social-icon.linkedin:after {
	background-color: #0e76a8;
}

.social-icon.kaggle:after {
	background-color: #41aff3;
}

.social-icon.dribbble:after {
	background-color: #ea4c89;
}

.social-icon.medium:after {
	background-color: #00ab6c;
}

/*** Social Icon Animations ***/

.social-icon:hover {
	transform: translateY(-4px);
	box-shadow: 0px 4px 12px rgba(0,0,0,0.16);
}

.social-icon:hover i {
	color: #fff;
}

.social-icon:hover:after {
	transform: translate(0) scale(1.2);
}

a:hover{
	color: transparent;
}
/* Responsive */
@media only screen and (max-width: 450px) {
	.text {
	  margin-top: 5rem;
	}


	.contact {
	  padding-bottom: 0px;
	}

	.contact .info {
	  padding: 30px;
	  background: #fff;
	  width: 100%;
	  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
	}

	.contact .info i {
	  font-size: 20px;
	  color: #149ddd;
	  float: left;
	  width: 44px;
	  height: 44px;
	  background: #dff3fc;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  border-radius: 50px;
	  transition: all 0.3s ease-in-out;
	}

	.contact .info h4 {
	  padding: 0 0 0 60px;
	  font-size: 22px;
	  font-weight: 600;
	  margin-bottom: 5px;
	  color: #050d18;
	}

	.contact .info p {
	  padding: 0 0 10px 60px;
	  margin-bottom: 20px;
	  font-size: 14px;
	  color: #173b6c;
	}

	.contact .info .email p {
	  padding-top: 5px;
	}

	.contact .info .social-links {
	  padding-left: 60px;
	}

	.contact .info .social-links a {
	  font-size: 18px;
	  display: inline-block;
	  background: #333;
	  color: #fff;
	  line-height: 1;
	  padding: 8px 0;
	  border-radius: 50%;
	  text-align: center;
	  width: 36px;
	  height: 36px;
	  transition: 0.3s;
	  margin-right: 10px;
	}

	.contact .info .social-links a:hover {
	  background: #149ddd;
	  color: #fff;
	}

	.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
	  background: #149ddd;
	  color: #fff;
	}

	.contact .php-email-form {
	  width: 100%;
	  padding: 30px;
	  background: #fff;
	  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
	}

	.contact .php-email-form .form-group {
	  padding-bottom: 8px;
	}

	.contact .php-email-form .validate {
	  display: none;
	  color: red;
	  margin: 0 0 15px 0;
	  font-weight: 400;
	  font-size: 13px;
	}

	.contact .php-email-form .error-message {
	  display: none;
	  color: #fff;
	  background: #ed3c0d;
	  text-align: center;
	  padding: 15px;
	  font-weight: 600;
	}

	.contact .php-email-form .sent-message {
	  display: none;
	  color: #fff;
	  background: #18d26e;
	  text-align: center;
	  padding: 15px;
	  font-weight: 600;
	}

	.contact .php-email-form .loading {
	  display: none;
	  background: #fff;
	  text-align: center;
	  padding: 15px;
	}

	.contact .php-email-form .loading:before {
	  content: "";
	  display: inline-block;
	  border-radius: 50%;
	  width: 24px;
	  height: 24px;
	  margin: 0 10px -6px 0;
	  border: 3px solid #18d26e;
	  border-top-color: #eee;
	  -webkit-animation: animate-loading 1s linear infinite;
	  animation: animate-loading 1s linear infinite;
	}

	.contact .php-email-form input, .contact .php-email-form textarea {
	  border-radius: 0;
	  box-shadow: none;
	  font-size: 14px;
	}

	.contact .php-email-form input {
	  height: 44px;
	}

	.contact .php-email-form textarea {
	  padding: 10px 12px;
	}

	.contact .php-email-form button[type="submit"] {
	  background: #149ddd;
	  border: 0;
	  padding: 10px 24px;
	  color: #fff;
	  transition: 0.4s;
	  border-radius: 4px;
	}

	.contact .php-email-form button[type="submit"]:hover {
	  background: #37b3ed;
	}

	@-webkit-keyframes animate-loading {
	  0% {
	    transform: rotate(0deg);
	  }
	  100% {
	    transform: rotate(360deg);
	  }
	}

	@keyframes animate-loading {
	  0% {
	    transform: rotate(0deg);
	  }
	  100% {
	    transform: rotate(360deg);
	  }
	}


	.breadcrumbs {
	  padding: 40px 0;
	}

	.breadcrumbs h2 {
	  font-size: 26px;
	  font-weight: 300;
	}

	.breadcrumbs ol {
	  display: flex;
	  flex-wrap: wrap;
	  list-style: none;
	  padding: 0;
	  margin: 0;
	  font-size: 15px;
	}

	.breadcrumbs ol li + li {
	  padding-left: 10px;
	}

	.breadcrumbs ol li + li::before {
	  display: inline-block;
	  padding-right: 10px;
	  color: #0e2442;
	  content: "/";
	}

	@media (max-width: 768px) {
	  .breadcrumbs .d-flex {
	    display: block !important;
	  }
	  .breadcrumbs ol {
	    display: block;
	  }
	  .breadcrumbs ol li {
	    display: inline-block;
	  }
	}


	.portfolio-details {
	  padding-top: 0;
	}

	.portfolio-details .portfolio-details-container {
	  position: relative;
	}

	.portfolio-details .portfolio-details-carousel {
	  position: relative;
	  z-index: 1;
	}

	.portfolio-details .portfolio-details-carousel .owl-nav, .portfolio-details .portfolio-details-carousel .owl-dots {
	  margin-top: 5px;
	  text-align: left;
	}

	.portfolio-details .portfolio-details-carousel .owl-dot {
	  display: inline-block;
	  margin: 0 10px 0 0;
	  width: 12px;
	  height: 12px;
	  border-radius: 50%;
	  background-color: #ddd !important;
	}

	.portfolio-details .portfolio-details-carousel .owl-dot.active {
	  background-color: #149ddd !important;
	}

	.portfolio-details .portfolio-info {
	  padding: 30px;
	  position: absolute;
	  right: 0;
	  bottom: -70px;
	  background: #fff;
	  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
	  z-index: 2;
	}

	.portfolio-details .portfolio-info h3 {
	  font-size: 22px;
	  font-weight: 400;
	  margin-bottom: 20px;
	  padding-bottom: 20px;
	  border-bottom: 1px solid #eee;
	}

	.portfolio-details .portfolio-info ul {
	  list-style: none;
	  padding: 0;
	  font-size: 15px;
	}

	.portfolio-details .portfolio-info ul li + li {
	  margin-top: 10px;
	}

	.portfolio-details .portfolio-description {
	  padding-top: 50px;
	}

	.portfolio-details .portfolio-description h2 {
	  width: 50%;
	  font-size: 26px;
	  font-weight: 400;
	  margin-bottom: 20px;
	}

	.portfolio-details .portfolio-description p {
	  padding: 0;
	}

	@media (max-width: 768px) {
	  .portfolio-details .portfolio-description h2 {
	    width: 100%;
	  }
	  .portfolio-details .portfolio-info {
	    position: static;
	    margin-top: 30px;
	  }
	}


	#footer {
	  padding: 15px;
	  color: #f4f6fd;
	  font-size: 14px;
	  position: fixed;
	  left: 0;
	  bottom: 0;
	  width: 300px;
	  z-index: 9999;
	  background: #040b14;
	}

	#footer .copyright {
	  text-align: center;
	}

	#footer .credits {
	  padding-top: 5px;
	  text-align: center;
	  font-size: 13px;
	  color: #eaebf0;
	}

	@media (max-width: 1199px) {
	  #footer {
	    position: static;
	    width: auto;
	    padding-right: 20px 15px;
	  }
	}
